@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&family=Fraunces:ital,opsz,wght@0,9..144,700;0,9..144,900;1,9..144,700;1,9..144,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Barlow", sans-serif;
}

.filter-green {
  filter: invert(23%) sepia(7%) saturate(3586%) hue-rotate(119deg)
    brightness(23%) contrast(74%);
}

.filter-white :hover {
  filter: invert(98%) sepia(98%) saturate(0%) hue-rotate(341deg)
    brightness(103%) contrast(102%);
}
